.mule/plugins-tmp/repository/4.3.0-20210719/com/mulesoft/connectors/anypoint-mq-connector/3.1.5/anypoint-mq-connector-3.1.5-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/anypoint-mq" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/tls" schemaLocation="http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd"></xs:import>
  <xs:complexType name="com.mulesoft.extension.mq.api.source.SubscriberFactory">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" type="anypoint-mq:com.mulesoft.extension.mq.api.source.SubscriberFactory" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-subscriber-factory"></xs:element>
  <xs:element xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" type="anypoint-mq:com.mulesoft.extension.mq.api.source.SubscriberFactory" abstract="true" name="abstract-subscriber-factory"></xs:element>
  <xs:complexType name="com.mulesoft.extension.mq.api.source.PollingTypeSubscriberFactory">
    <xs:complexContent>
      <xs:extension xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" base="anypoint-mq:com.mulesoft.extension.mq.api.source.SubscriberFactory">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" minOccurs="1" maxOccurs="1" ref="mule:scheduling-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:substitutableInt" use="optional" default="10" name="fetchSize"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" type="anypoint-mq:com.mulesoft.extension.mq.api.source.PollingTypeSubscriberFactory" substitutionGroup="anypoint-mq:abstract-subscriber-factory" abstract="true" name="abstract-polling"></xs:element>
  <xs:element xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" substitutionGroup="anypoint-mq:abstract-polling" name="polling">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="anypoint-mq:com.mulesoft.extension.mq.api.source.PollingTypeSubscriberFactory"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.extension.mq.api.source.PrefetchTypeSubscriberFactory">
    <xs:complexContent>
      <xs:extension xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" base="anypoint-mq:com.mulesoft.extension.mq.api.source.SubscriberFactory">
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:substitutableInt" use="optional" default="30" name="maxLocalMessages"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" type="anypoint-mq:com.mulesoft.extension.mq.api.source.PrefetchTypeSubscriberFactory" substitutionGroup="anypoint-mq:abstract-subscriber-factory" abstract="true" name="abstract-prefetch"></xs:element>
  <xs:element xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" substitutionGroup="anypoint-mq:abstract-prefetch" name="prefetch">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="anypoint-mq:com.mulesoft.extension.mq.api.source.PrefetchTypeSubscriberFactory"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.extension.mq.api.circuit.CircuitBreakerConfiguration">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="xs:string" use="optional" name="onErrorTypes"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="required" name="errorsThreshold"></xs:attribute>
        <xs:attribute type="mule:substitutableLong" use="required" name="tripTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="MILLISECONDS" name="tripTimeoutUnit"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="abstract-circuit-breaker"></xs:element>
  <xs:element xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" substitutionGroup="anypoint-mq:abstract-circuit-breaker" name="circuit-breaker">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="anypoint-mq:com.mulesoft.extension.mq.api.circuit.CircuitBreakerConfiguration">
          <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="mule:expressionString" use="optional" name="host">
                      <xs:annotation>
                        <xs:documentation>Host where the proxy requests will be sent.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionInt" use="optional" name="port">
                      <xs:annotation>
                        <xs:documentation>Port where the proxy requests will be sent.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionString" use="optional" name="username">
                      <xs:annotation>
                        <xs:documentation>The username to authenticate against the proxy.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionString" use="optional" name="password">
                      <xs:annotation>
                        <xs:documentation>The password to authenticate against the proxy.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="tcp-client-socket-properties">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="mule:abstractExtensionType">
                    <xs:sequence></xs:sequence>
                    <xs:attribute type="mule:expressionInt" use="optional" name="sendBufferSize">
                      <xs:annotation>
                        <xs:documentation>The size of the buffer (in bytes) used when sending data, set on the socket itself.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionInt" use="optional" name="receiveBufferSize"></xs:attribute>
                    <xs:attribute type="mule:expressionInt" use="optional" name="clientTimeout">
                      <xs:annotation>
                        <xs:documentation>This sets the SO_TIMEOUT value on sockets. Indicates the amount of time (in milliseconds) that the socket will wait in a blocking operation before failing. &lt;p&gt; A value of 0 (the default) means waiting indefinitely.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="sendTcpNoDelay">
                      <xs:annotation>
                        <xs:documentation>If set, transmitted data is not collected together for greater efficiency but sent immediately. &lt;p&gt; Defaults to true even though Socket default is false because optimizing to reduce amount of network traffic over latency is hardly ever a concern today.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionInt" use="optional" name="linger">
                      <xs:annotation>
                        <xs:documentation>This sets the SO_LINGER value. This is related to how long (in milliseconds) the socket will take to close so that any remaining data is transmitted correctly.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="keepAlive">
                      <xs:annotation>
                        <xs:documentation>Enables SO_KEEPALIVE behavior on open sockets. This automatically checks socket connections that are open but unused for long periods and closes them if the connection becomes unavailable. &lt;p&gt; This is a property on the socket itself and is used by a server socket to control whether connections to the server are kept alive before they are recycled.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                    <xs:attribute type="mule:expressionInt" use="optional" default="30000" name="connectionTimeout">
                      <xs:annotation>
                        <xs:documentation>Number of milliseconds to wait until an outbound connection to a remote server is successfully created, before failing with a timeout. Defaults to 30 seconds.</xs:documentation>
                      </xs:annotation>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="https://mq-us-east-1.anypoint.mulesoft.com/api/v1" name="url">
            <xs:annotation>
              <xs:documentation>The region URL where the Queue resides. This URL can be obtained and configured from the Anypoint Platform &amp;gt; MQ console. Copy/paste the region URL into this field."</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="clientId">
            <xs:annotation>
              <xs:documentation>In Anypoint Platform &amp;gt; MQ &amp;gt; Client Apps, click an app name (or create a new app) and click Copy for the Client App ID field. Paste this value in the Studio Client App ID field</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="clientSecret">
            <xs:annotation>
              <xs:documentation>In Anypoint Platform &gt; MQ &gt; Client Apps, click an app name (or create a new app) and click Copy for the Client Secret field. Paste this value in the Studio Client Secret field.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SubscriberType" substitutionGroup="mule:abstract-message-source" name="subscriber">
    <xs:annotation>
      <xs:documentation>Anypoint MQ Subscriber Message Source, retrieves messages from the given destination name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="SubscriberType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractMessageSourceType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-redelivery-policy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="subscriber-type">
            <xs:annotation>
              <xs:documentation>The strategy to be used when subscribing for messages from the service</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" minOccurs="1" maxOccurs="1" ref="anypoint-mq:abstract-subscriber-factory"></xs:element>
                <xs:element xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" minOccurs="1" maxOccurs="1" ref="anypoint-mq:global-abstract-subscriber-factory"></xs:element>
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="circuit-breaker">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" base="anypoint-mq:com.mulesoft.extension.mq.api.circuit.CircuitBreakerConfiguration"></xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="destination">
          <xs:annotation>
            <xs:documentation>Name of the Queue from which messages will be retrieved.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" type="com.mulesoft.extension.mq.api.modes.SubscriberAckModeEnumType" use="optional" default="AUTO" name="acknowledgementMode">
          <xs:annotation>
            <xs:documentation>Acknowledgement mode to use for the messages retrieved.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableLong" use="optional" default="0" name="acknowledgementTimeout">
          <xs:annotation>
            <xs:documentation>The default acknowledgementTimeout for all the subscribers, unless it is overridden. Duration that a message is held by a broker waiting for an Acknowledgement or Not Acknowledgement. After that duration elapses, the message is again available to any subscriber.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="MILLISECONDS" name="acknowledgementTimeoutUnit">
          <xs:annotation>
            <xs:documentation>Time unit to be used in the acknowledgementTimeout configuration</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="circuitBreaker"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:substitutableBoolean" use="optional" name="primaryNodeOnly">
          <xs:annotation>
            <xs:documentation>Whether this source should only be executed on the primary node when runnning in Cluster</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="AckType" substitutionGroup="mule:abstract-operator" name="ack">
    <xs:annotation>
      <xs:documentation>Executes an Acknowledgement indicating that the message has been consumed correctly and deletes the message from In Flight status.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AckType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="ackToken">
          <xs:annotation>
            <xs:documentation>The `ackToken` of the message, which was received when message was consumed. `ackToken` will only be created when acknowledgementMode="MANUAL" is used.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ConsumeType" substitutionGroup="mule:abstract-operator" name="consume"></xs:element>
  <xs:complexType name="ConsumeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="destination">
          <xs:annotation>
            <xs:documentation>Queue or Exchange name from where to fetch a Message</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" type="com.mulesoft.extension.mq.api.modes.ConsumerAckModeEnumType" use="optional" default="IMMEDIATE" name="acknowledgementMode">
          <xs:annotation>
            <xs:documentation>Acknowledgement mode to use for the messages retrieved.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionLong" use="optional" default="0" name="acknowledgementTimeout">
          <xs:annotation>
            <xs:documentation>Duration that a message is held by a consumer waiting for an Acknowledgement or Not Acknowledgement. After that duration elapses, the message is again available to any consumer.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="MILLISECONDS" name="acknowledgementTimeoutUnit">
          <xs:annotation>
            <xs:documentation>Time unit to be used in the acknowledgementTimeout configuration</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionLong" use="optional" default="10000" name="pollingTime">
          <xs:annotation>
            <xs:documentation>How much time to be waited if the requested messages are not ready to be consumed.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="MILLISECONDS" name="pollingTimeUnit">
          <xs:annotation>
            <xs:documentation>Time unit to be used in the pollingTime configuration</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="NackType" substitutionGroup="mule:abstract-operator" name="nack">
    <xs:annotation>
      <xs:documentation>Executes an Not Acknowledgement and change the status of the message from In Flight to In Queue to be consumed again for a subscriber</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="NackType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="ackToken">
          <xs:annotation>
            <xs:documentation>The `ackToken` of the message, which was received when message was consumed. `ackToken` will only be created when acknowledgementMode="MANUAL" is used.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="PublishType" substitutionGroup="mule:abstract-operator" name="publish"></xs:element>
  <xs:complexType name="PublishType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="body">
            <xs:annotation>
              <xs:documentation>The body of the outgoing MQ Message, sent as a String as part of a JSON message. Any content that is published needs to be serializable to a String format that can be later deserialized from. One way to do so is to serialize the published Object to its JSON representation, which can be serialized/deserialized from a String easily. Sending Objects that don't have a proper string serialization will cause the message to be unreadable on the receiving end.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="properties">
            <xs:annotation>
              <xs:documentation>The custom user properties that should be set to this Anypoint MQ Message</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="destination">
          <xs:annotation>
            <xs:documentation>Queue or Exchange name from where to fetch a Message</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputMimeType">
          <xs:annotation>
            <xs:documentation>The mime type of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="outputEncoding">
          <xs:annotation>
            <xs:documentation>The encoding of the payload that this operation outputs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="messageId">
          <xs:annotation>
            <xs:documentation>A custom ID for the outgoing Anypoint MQ Message. This value must be a proper UID for the message in order to avoid delivery problems. If absent, the broker will create one UUID for each message.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="messageGroupId">
          <xs:annotation>
            <xs:documentation>The ID of the message group that the published message belongs to. Can only be specified for FIFO queues</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="deliveryDelay">
          <xs:annotation>
            <xs:documentation>The delay, that will be applied to this message before it is consumed. This value has to be in the range of 0 to 15 minutes. By default this value will be in MILLISECONDS.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/anypoint-mq" type="com.mulesoft.extension.mq.api.config.DelayTimeUnitEnumType" use="optional" default="MILLISECONDS" name="deliveryDelayUnit">
          <xs:annotation>
            <xs:documentation>Time unit to be used in the deliveryDelay parameter configuration</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="sendContentType">
          <xs:annotation>
            <xs:documentation>Set to true if the body type should be sent as a Anypoint MQ Message property</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="java.util.concurrent.TimeUnitEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NANOSECONDS"></xs:enumeration>
          <xs:enumeration value="MICROSECONDS"></xs:enumeration>
          <xs:enumeration value="MILLISECONDS"></xs:enumeration>
          <xs:enumeration value="SECONDS"></xs:enumeration>
          <xs:enumeration value="MINUTES"></xs:enumeration>
          <xs:enumeration value="HOURS"></xs:enumeration>
          <xs:enumeration value="DAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="com.mulesoft.extension.mq.api.modes.SubscriberAckModeEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="IMMEDIATE"></xs:enumeration>
          <xs:enumeration value="AUTO"></xs:enumeration>
          <xs:enumeration value="MANUAL"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="com.mulesoft.extension.mq.api.modes.ConsumerAckModeEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="IMMEDIATE"></xs:enumeration>
          <xs:enumeration value="MANUAL"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="com.mulesoft.extension.mq.api.config.DelayTimeUnitEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="MILLISECONDS"></xs:enumeration>
          <xs:enumeration value="SECONDS"></xs:enumeration>
          <xs:enumeration value="MINUTES"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>